*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(255, 168, 183);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding: 6rem 8rem;
    border-radius: 10px;
}

#num {
    font-size: 6rem;
}
div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

button{
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 2.4rem;
    margin-bottom: 1rem;
}

#addition {
    background-color: red;
}

#sub {
    background-color: green;
}

button:hover{
    opacity: 0.8;
}